<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <h2>Help us <u>keep your SOL secure</u> by <u>decentralizing</u> Stake</h2>
        <p>Solana is a decentralized proof-of-stake blockchain. It is <u>best for the network</u> and for those who uses it, <u>that the total stake is divided among as many validators</u> as possible. Keep this in mind while choosing a validator to delegate to and <u>select those with smaller stake</u> to make the Solana network (and your SOL) more secure.</p>
        <p>Below you'll find validators ranked by their Annual Percent Yield (APY) for the latest epoch, previous 3 epochs and previous 10 epochs. By default the ranking shows the best yielding validators with less that 100,000 SOL in stake, but you can user the slider on top to see yields of bigger validators. </p>
      </v-col>
    </v-row>   
    <!-- <v-row justify="space-around">
      <v-col cols="2">
       <a>Getting Started?</a>
      </v-col>
      <v-col cols="2">
       <a>How to choose a Validator</a>
      </v-col>      
      <v-col cols="2">
       <a>Why Stake Size Matters</a>
      </v-col> 
      <v-col cols="2">
       <a>FAQs</a>
      </v-col>              
    </v-row>         -->
    <v-row>
      <v-col>
        <h1>The Rankings</h1>
      </v-col>
    </v-row>
    <v-tabs v-model="tab" background-color="primary" fixed-tabs dark>
      <v-tab :key="1"> Last Epoch </v-tab>
      <v-tab :key="2"> Prev. 3 Epochs </v-tab>
      <v-tab :key="3"> Prev. 10 Epochs </v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item :key="1">
        <v-card flat color="transparent">
          <v-card-text> </v-card-text>
          <apy-table scope="last"></apy-table>
        </v-card>
      </v-tab-item>
      <v-tab-item :key="2">
        <v-card flat color="transparent">
          <v-card-text> </v-card-text>
          <apy-table scope="prev3"></apy-table>
        </v-card>
      </v-tab-item>
      <v-tab-item :key="3">
        <v-card flat color="transparent">
          <v-card-text> </v-card-text>
          <apy-table scope="prev10"></apy-table>
        </v-card>
      </v-tab-item>      
    </v-tabs-items>
  </v-container>
</template>
<script>
import ApyTable from "../components/ApyTable.vue";
export default {
  components: { ApyTable },
  name: "App",
  data() {
    return {
      tab: null,
      drawer: null,
    };
  },
};
</script>
