<template>
  <div>
    <v-slider
      v-model="stakeFilter"
      :tick-labels="slider.ticksLabels"
      :max="4"
      :min="1"
      :label="slider.label"
      step="1"
      ticks="always"
      tick-size="10"
    ></v-slider>
    <!-- <v-text-field
      v-model="stakeFilter"
      class="mt-0 pt-0"
      hide-details
      single-line
      type="number"
      style="width: 60px"
    ></v-text-field> -->
    <v-data-table
      :headers="headers"
      :items="filteredValidators"
      :items-per-page="10"
      class="elevation-1"
      loading=true
    >
      <template v-slot:[`item.Name`]="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <div  v-on="on">{{ item.Name }}</div>
          </template>
          <span>Details: {{ item.Details }}</span>
        </v-tooltip>
      </template>
      <template v-slot:[`item.Public_Key`]="{ item }">
        <v-chip>
          <a class="text-dark" target="_blank" rel="noopener noreferrer"  @click="copy(item.Public_Key)">
              Copy Vote Account 
          </a>
        </v-chip>
      </template> 
      <template v-slot:[`item.Website`]="{ item }">
        <v-chip>
          <a :href="item.Website" class="text-dark" target="_blank" rel="noopener noreferrer">
              {{ item.Website }} 
          </a>
        </v-chip>
      </template>          
    </v-data-table>
  </div>
</template>
<script>
export default {
  name: "ApyTable",
  props: {
    scope: {
      type: String,
      required: true,
    },
  },
  data: () => ({
    api_url: "https://latinnode.com:8443/api",
    tab: null,
    drawer: null,
    validators: [],
    stakeFilter: 0,
    filteredValidators: [],
    filterValues: {1: 100000, 2: 250000, 3: 500000},
    headers: [
      { text: "Name (Rollover for Details)", value: "Name" },
      { text: "APY", value: "APY" },
      { text: "Active_Stake", value: "Active_Stake" },
      { text: "Commission", value: "Commission" },
      { text: "Website", value: "Website"},
      { text: "Vote Account", value: "Public_Key"},
    ],
    slider: {
      ticksLabels: [
        "< 100k",
        "< 250k",
        "< 500k",
        "I'm Just Greedy",
      ],
      label: "Max Stake Size",
    },
  }),
  mounted() {
    console.log("Ranking component created for " + this.scope + "\n");
    this.getData(this.scope);

          console.log("stake filter " + this.stakeFilter);    
  },
  methods: {
    copy(pk) {
      console.log(pk);
        const el = document.createElement('textarea');  
        el.value = pk;                                 
        el.setAttribute('readonly', '');                
        el.style.position = 'absolute';                     
        el.style.left = '-9999px';                      
        document.body.appendChild(el);                  
        const selected =  document.getSelection().rangeCount > 0  ? document.getSelection().getRangeAt(0) : false;                                    
        el.select();                                    
        document.execCommand('copy');                   
        document.body.removeChild(el);                  
        if (selected) {                                 
          document.getSelection().removeAllRanges();    
          document.getSelection().addRange(selected);   
        }      
    },    
    async getData(inputscope) {
      try {
        console.log(this.api_url);
        const response = await this.$http.get(
          this.api_url + "/validators/" + inputscope
        );

        console.log(response);
        this.validators = response.data;
        this.stakeFilter = this.slider.value;
      } catch (error) {
        console.log(error);
      }
    },  
  },
  watch: {
    stakeFilter (value) {
      if (value > 3) {
        this.filteredValidators = this.validators
      } else {
        const x = this.filterValues[value]
        this.filteredValidators = this.validators.filter(validator=>validator.Active_Stake < x )        
      }
    },
  },
};
</script>
