<template>
  <div>
    <h1>Componente</h1>
    <v-data-table
      :headers="headers"
      :items="validators"
      :items-per-page="5"
      class="elevation-1"
    ></v-data-table>
  </div>
</template>
<script>
export default {
  name: "ApyTable",
  props: {
    scope: {
      type: String,
      required: true,
    },
  },

  data: () => ({
    api_url: "http://localhost:8000/api",
    tab: null,
    drawer: null,
    validators: [],
    headers: [
      { text: "Name", value: "Name" },
      { text: "APY", value: "APY" },
      { text: "Active_Stake", value: "Active_Stake" },
      { text: "Delegators", value: "Delegators" },
      { text: "Avg_Stake", value: "Avg_Stake" },
      { text: "Commission", value: "Commission" },
    ],
    slider: {
      ticksLabels: [
        "> 100,000k",
        "> 250,000k",
        "> 500,000k",
        "I'm Just Greedy",
      ],
      label: "Max Stake Size",
      stakeSize: 0,
    },
  }),
  methods: {
    async getData(inputscope) {
      if (inputscope === "last") {
        try {
          console.log(this.api_url);
          const response = await this.$http.get(this.api_url + "/validators/");
          console.log(response);
          // JSON responses are automatically parsed.
          this.validators = response.data;
          console.log(this.validators);
        } catch (error) {
          console.log(error);
        }
      }
    },
    created() {
      console.log("Ranking component created");
      this.getData(this.scope);
    },
  },
};
</script>
