
<template>
  <v-card class="overflow-hidden">
    <v-app id="inspire">
      <!-- <v-navigation-drawer v-model="drawer" app> -->
      <!--  -->
      <!-- </v-navigation-drawer> -->

      <v-app-bar app absolute hide-on-scroll>
        <!-- <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon> -->

        <v-toolbar-title><h2>Stake Defense</h2><h6>by <a href="https://latinnode.com/" target="_blank">Latin Node</a></h6></v-toolbar-title>
        <v-spacer></v-spacer>
        <h4>Defending Solana Network Decentralization</h4>
      </v-app-bar>
      <v-main>
        <v-container>
          <router-view />
        </v-container>
      </v-main>
    </v-app>
  </v-card>
</template>

<script>
export default {
  data: () => ({ drawer: null }),
};
</script>
